.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.underlinedHeaders {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.journalDiv {
  background-color: #ECECEC;
  border-radius: 8px;
  margin-bottom: 20px;
}

.journalDiv h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.journalDivContent {
  padding: 20px 20px 20px 20px;
}

.journalDivContent h1{
  font-weight: bold;
}
